* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 25px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #575757;
}


.logo {
    font-weight: bold;
    font-size: 32px;

}

.common-btn {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;

}

.hero-section {
    background-image: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.hero-section-div {
    color: white;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}



.meet-the-speaker-parent {
    margin: 60px auto;
    text-align: center;

}

.meet-the-speaker-card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 8px;
}

.meet-the-speaker-card-container .What-i-do-card {
    border: 1px solid #c7c4c1;
    padding: 8px;
    border-radius: 10px;
    text-align: left;
}


.meet-the-speaker-card-container .What-i-do-card h2 {
    margin: 10px 0;
}

.meet-the-speaker-card-container .What-i-do-card p {
    color: #757575;
    font-size: 15px;
}

.meet-the-speaker-card-container .What-i-do-card .domain{
    color: blue;
    font-size: 15px;
}